/*//$baseClr: #EE8E41;*/
.jj_02{
  background-color:rgba(238,142,65,0.2)!important;
}

.jj_bold {
  font-weight: bold!important;
}

.jj_mainColor {
  color: #EE8E41 !important;
}
.jj_bg{
  background-color: #EE8E41!important;
}
.jj_bordercolor{
  border-color: #EE8E41!important;
}
