$max_width: 375px;
$baseClr: var(--theme_color) !default;
$calendar_bgcolor: var(--calendar_bgcolor) !default;

/*
 * yt.nie 20190530
 * sass固定定位-水平居中属性继承
 * 
 * 使用方法：
 * 1.引入mixin.scss;
 * 2.目标样式使用@extend关键字
 * 	 @extend .layout_fixed_x_center;
 */

.layout_fixed_x_center {
  left: 50% !important;
  max-width: $max_width !important;
  margin-left: -($max_width/2);
}
